* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gloria Hallelujah', cursive !important;
}

body {
  background-color: #DAFAFF;
}

.mainWindow {
  min-width: 600px;
  min-height: 300px;
  background-color: #A1E9DE;
  border-radius: 0 0 15px 0;
  padding-top: 5px;
}

.rows {
  width: inherit;
  border: 1px solid rgba(255, 255, 255, 0);
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(3, minmax(25%, 25%)) minmax(10%, 25%) minmax(min-content, 5%);
  background-color: #DAFAFF;
}

.rows:nth-of-type(2n+2) {
  background-color: white;
}

.rows input {
  background-color: inherit;
}

.rows * {
  padding: 0 5px 0 5px;
  margin-right: 3px;
  border: 1px solid green;
  font-size: 3em;
}

.rows .result {
  border: 1px solid lightgray;
  overflow: auto;
}

.totals {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0);
}

.totals>* {
  width: max-content;
  padding: 0 5px 0 5px;
  font-size: 3em;
  color: green;
  display: inherit;
}

.totals span:last-of-type {
  font-size: 1em;
}

.plusBtn {
  padding: 0 15px 0 15px;
  background-color: #A1E9DE;
  border: none;
  border-radius: 0 0 10px 10px;
  font-size: 3.4em;
}

.deleteRowBtn {
  widyth: min-content;
  border-color: #A899E6;
  border-radius: 5px;
  color: #A899E6;
}

.nudge {
  border: 1px solid blue;
  border-radius: 3px;
}

.header {
  font-weight: bold;
  font-size: 1em;
  display: grid;
  grid-template-rows: 4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header span {
  padding: 0 10px 0 10px;
  border-radius: 10px 10px 0 0;
  margin-right: 2px;
  background-color: #A1E9DE;
  font-size: 1.5em;
}

#resetWindow {
  margin-top: 200px;
  margin-bottom: 20px;
  background-color: #A899E6;
  border: 1px dashed black;
  border-radius: 5px;
  padding: 5px;
  display: block;
}

#totalWeight {
  border: 1px solid green;
}
